---
layout: content
---

<div class="usa-grid section">
	<p class="right__statement">
		<img width="55" height="55" src="{{ page.page_icon | prepend: site.baseurl }}" alt="Icon representing {{ page.title }}">
		{{ page.statement }}
	</p>
	<h1>{{page.title}}</h1>
	<div class="main-content">
		<p>{{page.mission}}</p>
		<div class="sidebar__box sidebar__box--blue">
			<p>Tell us about your concern, so you can learn about your rights and find out who to contact if you need more information.</p>
			<h3>Common concerns</h3>
			<ul>
				{% for concern in site.concerns %}
					{% if concern.right == page.right and concern.summary %}
						<li><a href="{{ concern.url | prepend:site.baseurl }}">{{concern.summary}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
