---
layout: content
---

<div class="usa-grid section">
	<p class="right__statement">
		<img width="55" height="55" src="{{ page.page_icon | prepend: site.baseurl }}" alt="Icon representing {{ page.title }}">
		{{ page.statement }}
	</p>
	<h1>{{page.title}}</h1>
	<div class="main-content">
		<p>{{page.mission}}</p>
		<div class="section">
			<p><strong>Tell us about your concern, so you can learn about your rights and find out who to contact if you need more information.</strong></p>
			<h3 class="sidebar-title">Common concerns</h3>
			<ul class="concern-examples">
				{% assign concerns = site.concerns | sort: 'order' %}
				{% for concern in concerns %}
					{% if concern.right == page.right and concern.summary %}
						<li><a href="{{ concern.url | prepend:site.baseurl }}">{{concern.summary}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
